form{
    width: 600px;
}

.submit{
    border-radius: 6%;
    border: 1px solid rgb(36, 36, 36);
    background-color: rgb(182, 182, 182);
    font-weight: bold;
    transition: background-color 1s ease;
    width: 140px;
    color: black;
    margin-left: 2px;
}
.submit:hover{
    box-shadow: 0 0 10px white;
    background-color: rgb(19, 19, 19);
    color: white;
    transition-duration: 0.7s;
    
}
.submit:not(:hover) {
    background-color: white;
  }

a{
    text-decoration: none;
}

  
@media screen and (max-width: 678px) {
 
    form{
        width: 350px;
    }
  }
  
  @media screen and (max-width: 425px) {  
    form{
        width: 270px;
    }
  }
  