.footer{
    width: 100%;
    min-height: 250px;
    background-color: rgb(3, 3, 3);
    margin-top: 200px;
}
.footer a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer a:hover{
    color: rgb(138, 138, 138);
    text-decoration: none;
}

.footericon:hover{
    filter: drop-shadow(0 0 5px rgb(68, 46, 4));
}

.work{
    margin-left: 60px;
}

@media screen and (max-width: 678px) {
    .footer{
        padding: 10px;
    }
}