.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 400px;
    height: 419px;
}
.logo img{
    animation: start 2s;
    width:400px;
    filter: drop-shadow(0 0 3px  rgb(105, 105, 105));
}

    @keyframes start {
    0%{
        transform:scale(0.4);
    }

    100% {
        transform:scale(1);
    }
    }
    

.text{
    animation-name: texto;
    animation-duration: 2s;
}    

@keyframes texto {
    from{
     opacity: 0;
    }
 
    to{
     opacity: 1;
    }
 }

.presentacion{
    text-align: center;
    margin-top: 100px;
    width: 50%;
    height: 300px;
}
.presentacion h1{
    font-size: 28px;
}

.p-card-eventos{
    width: 350px;
    height: 366.875px;
    background-color: rgb(0,0,0, 0.7);
    cursor: pointer;
    color: white;
}

.p-card-eventos:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.bi{
    font-size: 22px;
}

.carrousel{
    width: 500px;
    height: 600px;
}

.image-shadow{
    box-shadow: 0 0 2px rgb(17, 17, 17);
}



@media screen and (max-width: 678px) {

    .logo img {
        width: 250px;
        margin-top: 100px;
    }

    .imagelink{
        width: 250px;
        height: 260px;
        margin: 10px;
    }

    .imagelink img{
        width: 250px;
        height: 260px;
    }
    .p-card-eventos{
        width: 250px;
        height: 260px;
    }
}


@media screen and (max-width: 600px) {
    .logo{
        width: 350px;
        height: 370px;
        margin-left: 5px;
    }
    .presentacion{
        height: 200px;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-bottom: 100px;
        margin-top: 80px;
  }
  
    .presentacion h1{
        font-size: 20px;
    }
}

@media screen and (max-width:425px){
    .carrousel{
        width: 350px;
        height: 450px;
    }
}